<div class="row">
  <div class= "col-md-1">
  </div>
  <div class="col-md-6">
    <%= simple_form_for(@profile, html: {class: "well"}) do |f|  %>
      <fieldset>
        <legend>Create new profile</legend>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :website %>
          <%= f.input :twitter %>
          <%= f.input :field %>
          <%= f.input :bio %>

          <%= f.submit 'Create profile' %>
        <% end %>
      </fieldset>
  </div>
</div>
