<%= stylesheet_link_tag "signup" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h2>Please Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
           <%= f.input :first_name %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <%= f.input :last_name %>
          </div>
        </div>
            <%= f.input :email %>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <%= f.input :password %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <%= f.input :password_confirmation %>
          </div>
        
            <%= f.submit 'Sign Up', class: "btn btn-success" %>
            </div>
            <% end %>
          </div>
        </div>
    </div>
