<%= stylesheet_link_tag "signup" %>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-7 col-md-5  col-sm-offset-3 col-md-offset-3">
        <h2>Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
    </div>
  </div>
    <div class="row">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-md-2 left-input">
         <%= f.input :first_name, label: false, placeholder: 'First name' %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-md-2 right-input">
          <%= f.input :last_name, label: false, placeholder: 'Last name' %>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-sm-5 left-input">
        <%= f.input :email, label: false, placeholder: 'Email address' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-md-2 left-input">
        <%= f.input :password, label: false, placeholder: 'Password' %>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-md-2 right-input">
        <%= f.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>
      </div>
    </div>
<!-- <div class="col-xs-6 col-sm-6 col-md-6">
            <%= form_tag new_user_registration_path, method: :get, :class => "form-inline" do %>
            <%= text_field_tag :invite_code, params[:invite_code] %>
          </div>
          <% end %> -->
        <%= f.submit 'Sign Up', class: "btn btn-success btn-lg center-block" %>
        <% end %>
    </div>
