    <!-- MEMBER -->
   <div class="row">
      <% @users.each do |user| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= user.name %></h3>
        <%= user.field %>
        <p><%= user.bio %></p>
        <p><%= link_to 'Twitter', user.twitter,  class: "btn btn-primary" %>
          <%= link_to 'Website', user.website, class: "btn btn-info" %>
        </p>
      </div>
    </div>
  </div>
</div>
  <% end %>
    <!-- / END MEMBER -->
