<div class="row">
  <div class= "well", "col-md-4">
    <%= simple_form_for @organization do |f|  %>
      <fieldset>
        <legend>Create A New Organization</legend>
          <%= f.input :name %>
          <%= f.input :description, as: :text %>
          <%= f.input :address %>
          <%= f.input :address_2 %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :postal %>
          <%= f.input :website %>
          <%= f.input :category %>
          <%= f.submit 'Sign up' %>
      <% end %>
      </fieldset>
  </div>
</div>
